<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--bean就是java对象 , 由Spring创建和管理-->
    <!--    <bean id="user" class="com.kuang.pojo.User">-->
    <!--&lt;!&ndash;        <constructor-arg index="0" value="kuangshenshuojava"/>&ndash;&gt;-->
    <!--                <property name="name" value="lxl"/>-->
    <!--    </bean>-->
    <!--    -->
    <!-- 第一种根据index参数下标设置 -->
    <!--    <bean id="user" class="com.kuang.pojo.User">-->
    <!--        &lt;!&ndash; index指构造方法 , 下标从0开始 &ndash;&gt;-->
    <!--        <constructor-arg index="0" value="kuangshen1"/>-->
    <!--    </bean>-->


    <!--    第二种根据参数名字设置-->
    <bean id="user" class="com.kuang.pojo.User">
        <!-- name指参数名 -->
        <constructor-arg name="name" value="kuangshen2"/>
    </bean>
    <!--    第二种根据参数名字设置-->
    <bean id="userT" class="com.kuang.pojo.UserT">
        <!-- name指参数名 -->
        <!--        <constructor-arg name="name" value="kuang

        shen2"/>-->
    </bean>


    <!--        &lt;!&ndash; 第三种根据参数类型设置 &ndash;&gt;-->
    <!--        <bean id="user" class="com.kuang.pojo.User">-->
    <!--            <constructor-arg type="java.lang.String" value="kuangshen3"/>-->
    <!--        </bean>-->
</beans>
